
/*шрифты*/
 @font-face {
    font-family: PTsans; /* Гарнитура шрифта */
    src: local("PTsans"),
      url("../fonts/ptsans.woff") format("woff2"),
      url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
 }  
 
 @font-face {
    font-family: PTsans; /* Гарнитура шрифта */
    src: local("PTsans"),
      url("../fonts/ptsansbold.woff2") format("woff2"),
      url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
 }  
    
/*вспомогательные классы*/

/*чтобы картинки не уходили за границы*/
img {
    max-width: 100%;
    height: auto;
}

/*Класс для того, чтобы контейнер float разметки "видел" их */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.not-visible {
  display: none;
}
/*КОНЕЦ Вспомогательны классы*/

/*sprites*/
.sprite-small {
  display: block;
  margin: auto;
  background-image: url("../img/sprites-small.png");
  background-repeat: no-repeat;
    
}

.sprite-small-cheked-false {
    width: 22px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-small-cheked-true {
    width: 26px;
    height: 22px;
    background-position: -52px -10px;
}

.sprite-small-facebook {
    width: 10px;
    height: 19px;
    background-position: -98px -10px;
}

.sprite-small-range {
    width: 21px;
    height: 23px;
    background-position: -128px -10px;
}

.sprite-small-star {
    width: 18px;
    height: 17px;
    background-position: -169px -10px;
}

.sprite-small-twet {
    width: 17px;
    height: 15px;
    background-position: -207px -10px;
}

.sprite-small-youtube {
    width: 20px;
    height: 16px;
    background-position: -244px -10px;
}

/*sprites end*/

body {
    /*позиционирование*/
    /*блочная модель*/
    min-width: 768px;
    max-width: 1200px;
    margin: auto;
    /*типографика*/
    
    font-family: "PTsans", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    font-style: normal;
    
    /*оформление*/
    
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 0px 20px 0px #eeeeee, 0px 0px 20px 0px #eeeeee;
    /*анимация*/
    /*разное*/
}
nav {
  position: relative;

  height: 21px;
  padding: 17px 73px;
  /*background-color: red;*/
}

nav a {
  display: inline-block;
  width: 128px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
}

.logo-head {
  position: absolute;
  top: -70px;
  left: 548px;
  width: 110px;
  height: 120px;
  background-color: #81b3d2;
  border-radius: 10px;
  transform: rotate(45deg);
  
}

.logo-head-img {
  position: absolute;
  top: 60px;
  right: -1px;
  
  width: 67px;
  height: 56px;
  background: url("../img/logo-head.png");
  transform: rotate(-45deg);  
}

/*.head-menu {
  list-style: none;
  text-align: justify;
}

.head-menu li {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
}*/

.left-item-nav {
  float:left;
  /*background-color: yellow;*/
}

.left-item-nav a{
  margin-right: 112px;  
  text-align: left;
  
}

.right-item-nav {
  float:right;
  /*background-color: green;*/
}

.right-item-nav a{
  margin-left: 112px;  
  text-align: right;
}

.head-image {
  width: 1200px;
  height: 555px;  
  background: url("../img/intro.png");
  background-position: 0 -55px;
  /*background-size: auto 95%;*/
  
}

.fivecause-h1 {
  display: inline-block;
  max-width: 1200px;
  margin-bottom: 25px;
  padding: 0 312px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase; 
  text-align: center;
  vertical-align: top;
}

.fivecause-head {
  max-width: 1200px;
  margin-bottom: 53px;
  padding: 0 312px;  
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase; 
  text-align: center;
}

.fivecause-big {
  height: 256px;
  /*background-color: yellow;*/
}
.fivecause-text{  
  width: 280px;
  height: 146px;
  padding: 55px 60px;
  text-transform: uppercase; 
  text-align: center;
  color: #ffffff;  
  background-color: #81b3d2;    
}

.fivecause-text-h2 {  
  padding: 0 63px;
  font-size: 21px;
  font-weight: bold;
  
}

.fivecause-text-number {
  margin: 22px 0;
}

.fivecause-one .fivecause-text {
  float: left;
  
}

.fivecause-one .fivecause-img {
  float: right;
  width: 800px;
  height: 256px;
  background: url("../img/real-town.jpg");
}
  

.fivecause-two .fivecause-img {
  float: left; 
  width: 800px;
  height: 256px;
  background: url("../img/place-diablo.jpg");
  /*background-color: orange;*/
}

.fivecause-two .fivecause-text {
  float: right;  
}
/**/
.main-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-list li {
  display: inline-block;
  width: 400px;
  margin: 0;
  margin-left: -0.27em;
  padding: 0;
  vertical-align: top;
  
}

.main-advice {
  height: 270px;
  margin: 0;
  padding: 0;
  margin-top: 55px;  
  margin-bottom: 3px;
  text-align: center;
  /*background-color: green;*/
}


.advice-h2 {
  margin: 3px 0;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 65px;
  font-weight: bold;
  /*background-color: red;*/
}

.advice-text {
  margin: 0 55px;
  
  text-transform: uppercase;
  
  /*background-color: purple;*/
}
.advice-number {
  margin: 30px 0;
}

.fo-h2 {
  margin: 0;
  padding: 0 130px;
  line-height: 21px;
  
  text-align: center;
  /*background-color: red;*/
}

.fo-number {
  margin-top: 23px;
  margin-bottom: 22px;
  padding: 0;  
}


/*img*/
.sprite-causes {
    display: block;
    margin: auto;
    /*margin-bottom: 30px;*/
    background-image: url("../img/sprites-causes.png");
    background-repeat: no-repeat;    
    
}

.sprite-causes-home {
    width: 75px;
    height: 72px;
    background-position: -115px -12px;
}

.sprite-causes-food {
    width: 74px;
    height: 70px;
    background-position: -12px -11px;
}

.sprite-causes-souvenir {
    width: 64px;
    height: 76px;
    background-position: -215px -14px;
}

.advice-img{
  width: 80px;
  height: 80px;
  /*background-color: yellow;*/
}
/*img end*/

.fivacause-other {
  height: 205px;
  padding-top: 48px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #eeeeee;
}

/* serch hotel*/
.main-traveldate {
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
}

.traveldate-h2{
  margin-top: 50px;
  font-size: 30px;
  line-height: 37px;
  font-weight: bold;
}

.traveldate-text {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.form-caption {
  width: 570px;
  height: 86px;
  margin: auto;
  margin-top: 50px;
  font-size: 21px;
  line-height: 86px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357; 
}

.traveldate-image-map {
  width: 100%;
  height: 593px;
  background: url("../img/map.jpg");
}

/* ПОДВАЛ */
footer {
  width: 100%;
  height: 120px;
  background-color: #ffffff;
}

.footer-index {
  position: relative;
  top: -120px;
  opacity: 0.9; 
}

.footer {
  display: inline-block;  
  width: 400px;
  height: 120px;
  
  vertical-align: top;  
}
.footer:not(:first-child) {
  margin-left: -0.29em;
  
}

.footer-hashtag {
  margin: auto;
  font-size: 21px;
  line-height: 120px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
 /* background-color: orange;*/  
}

.footer-social {
  text-align: center;
  /*background-color: yellow;*/

  
}

.fc-social {
  display: inline-block;
  width: 46px;
  margin-top: 36px;
  margin-right: 2px;  
  vertical-align: top;
  background-color: #81b3d2;
  
}

.fc-twiter{
  height: 31px;
  padding-top: 17px;
}

.fc-facebook{
  height: 35px;
  padding-top: 13px;
}

.fc-youtube{
  height: 32px;
  padding-top: 16px;  
}

.fc-social::last-child{
  margin-left: 0;
}

.footer-make {
  background: url("../img/copyright.png") no-repeat center center;
  /*background-color: lightgreen;*/
}



/*============================================*/
/* hotel.html */
/*filters*/
.main-filter {
  height: 160px;
  padding: 30px 73px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7ea2c2;
  background: url("../img/filter_bg.jpg") no-repeat;
}

.main-filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.mf-group {
  float: left;
  display: inline-block;
  width: 241px;
  vertical-align: top;  
  border: none;
}

.mf-other {
  float: right;
  width: 328px;
  /*text-align: right;*/
}


input[type="checkbox"] {
  display: none;
  /*position: absolute;
  left: -5000px;*/

}

.mf-group label{
  display: block;
  padding-left: 18px;
  margin: 12px 0;
  cursor: pointer;
}

.mf-infrastructure label::before,
.mf-housingtype label::before{
  position: relative;
  left: -18px;
  content: "";
  display: inline-block;
  width: 26px;
  height: 22px;
 /* margin: 12px 0;*/
  vertical-align: top;
  background-image: url("../img/sprites-small.png");
  background-repeat: no-repeat;
  background-position: -10px -10px; 
}

input[type=checkbox]:checked + label::before {
  width: 26px;
  height: 22px;
  
  background-position: -52px -10px;
}    
/*range*/
.mf-other-minmax {
  float: right;
  width: 315px;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.mf-other-min,
.mf-other-max {
  display: inline-block;  
  width: 154px;
  height: 22px;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  text-align: center;
  color: #ffffff;
  /*background-color: rgba(0,0,0,0); /*прозрачный инпут*/
  background: none;
  border: none; 
}

.mf-other-min {
  border-right: 2px solid #ffffff; 
}

.mf-other-range {
  /*float: right;*/
  display: block;
  width: 319px;
  margin-top: 50px;
  margin-left: 9px;  
}

/*.mf-other-range-label {
  /*float: right;
  width: 319px;
  height: 20px;
  margin-top: 150px;
  margin-left: 9px;  
  border-top: 2px solid #ffffff;
}*/


.btn-mf-other-show {
  display: block;
  width: 133px; 
  height: 32px;
  margin-top: 20px;
  margin-left: 97px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

/*.sprite-small {
  display: block;
  margin: auto;
  background-image: url("../img/sprites-small.png");
  background-repeat: no-repeat;
    
}

.sprite-small-cheked-false {
    width: 22px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-small-cheked-true {
    
}

/*end filters*/

.main-found-head{
  /*width: 100%;*/
  height: 87px;
  padding: 0 73px;
  /*border-bottom: 1px solid #b1b1b1; */
  /*background-color: green;*/
}

.mf-found-item{
  width: 165px;
  font-size: 21px;
  line-height: 87px;
  font-weight: bold;
  text-transform: uppercase;
}


/*.main-found-item {
  height: 151px;
}*/





.mf-inline-block {
  display: inline-block;
  vertical-align: top;
}

.mf-sorting {
  font-size: 12px;
  line-height: 86px;
  text-transform: uppercase;
  /*background-color: red;*/
}

.mf-sorting-list {
  display: inline-block;
  width: 364px;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  line-height: 16px;
  list-style: none; 
  vertical-align: top;
}

.mf-sorting-list li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 32px;
  vertical-align: top;
  color: #b1b1b1;
  border-bottom: 1px dashed #81b3d2;
  cursor: pointer;
}

li.active-filter {
  color: #81b3d2;
  border: none;
}

.mf-topdown {
  display: inline-block; 
  width: 241px;  
  margin-left: 198px;
  text-align: right;
  /*background-color: yellow;*/
}

.btn-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 37px;
  margin-left: 12px;
  border-style: solid;  
}

.btn-triangle-up {
  border-color: #ffffff #ffffff #81b3d2 #ffffff;
  border-width: 0 7px 12px 7px;
  cursor: pointer;  
}

.btn-triangle-down {
  border-color: #81b3d2 #ffffff #ffffff #ffffff;
  border-width: 12px 7px 0 7px;  
  cursor: pointer;
}
/**/
.main-found-item{
    height: 90px;
    padding: 30px 73px;
    text-transform: uppercase;
}

.main-found-item:nth-child(odd){
  border-top: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;  
}

.mf-item-image {
  float: left;
  width: 135px;
  height: 90px;
  margin-right: 30px;
  
}

.amara-image{
  background: url("../img/amara.jpg");
}

.desert-image{
  background: url("../img/desert.jpg");
}

.villas-image{
  background: url("../img/villas.jpg");
}

.mf-item-text {
  float: left;
}

.mf-item-rating {
  /*position: relative;*/
  float: right;
  width: 111px;
  text-align: right;
}

.mfit-h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  /*text-transform: uppercase;*/
}

.mfit-content {
  margin-bottom: 12px;
  /*text-transform: uppercase;*/
}

.mfit-content b {
  display: inline-block;
  width: 110px;
  margin-right: 6px;
 /* font-size: 14px;
  line-height: 21px;*/
  font-weight: normal;
}

.btn-hotel {
  display: inline-block;
  width: 110px;
  height: 27px;
  margin-right: 6px;
  font-size: 14px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  
  color: #ffffff;
  background-color: #81b3d2;
}

.mfit-reserve {
  width: 142px;
  background-color: #766357;
}

.mfi-rating-star {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-bottom: 48px;
  /*text-align: right;*/
  background: url("../img/star.png");
  
  /*background-color: red;*/
  
}

.star-three {
  display: inline-block;
  width: 54px;
  height: 17px;
  /*text-align: right;*/
  background: url("../img/star.png");
  
  /*background-color: red;*/
  
}

.star-two {
  display: inline-block;
  width: 36px;
  height: 17px;
  /*text-align: right;*/
  background: url("../img/star.png");
  
  /*background-color: red;*/  
}

.star-four {
  display: inline-block;
  width: 72px;
  height: 17px;
  /*text-align: right;*/
  background: url("../img/star.png");
}

.mfi-rating-text {
  width: 111px;
  height: 27px;
  line-height: 27px;
  font-weight: normal;
  text-align: center;  
  color: #8b8b8b;
  background-color: #f2f2f2;
}
