/*вспомогательные классы*/

/*чтобы картинки не уходили за границы*/
img {
    max-width: 100%;
    height: auto;
}

/*Класс для того, чтобы контейнер float разметки "видел" их */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*КОНЕЦ Вспомогательны классы*/

body {
    /*позиционирование*/
    /*блочная модель*/
    min-width: 768px;
    max-width: 1200px;
    margin: auto;
    /*типографика*/
    
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
    /*оформление*/
    
    background-color: #ffffff;
    color: #000000;
    /*анимация*/
    /*разное*/
}
nav {
  position: relative;
}

.logo-head {
  position: absolute;
  top: -70px;
  left: 550px;
  width: 100px;
  height: 100px;
  background-color: #81b3d2;
  border-radius: 10px;
  transform: rotate(45deg);
}

.logo-head-img {
  position: absolute;
  top: 46px;
  right: -7px;
  
  width: 67px;
  height: 56px;
  background: url("../img/logo-head.png");
  transform: rotate(-45deg);
}

.head-menu {
    list-style: none;
}

.head-menu li {
  display: inline-block;
  vertical-align: top;
}

.head-image {
  width: 1200px;
  height: 570px;
  background: url("../img/intro.png");
}

.fivecause-h1 {
  display: inline-block;
  max-width: 1200px;
  padding: 0 312px;
  text-align: center;
  text-transform: uppercase; 
  vertical-align: top;
}

.fivecause-head {
  max-width: 1200px;
  padding: 0 312px;
  text-align: center;
}

.fivecause-big {
  height: 256px;
  /*background-color: yellow;*/
}
.fivecause-text{
  background-color: #81b3d2;
}

.fivecause-one .fivecause-text {
  float: left;
  width: 400px;
  height: 100%;
}

.fivecause-one .fivecause-img {
  float: right;
  width: 800px;
  height: 256px;
  background: url("../img/real-town.jpg");
}
  

.fivecause-two .fivecause-img {
  float: left; 
  width: 800px;
  height: 256px;
  background: url("../img/place-diablo.jpg");
  /*background-color: orange;*/
}

.fivecause-two .fivecause-text {
  float: right;
  width: 400px;
  height: 100%;
  
}



.main-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-list li {
  display: inline-block;
  width: 400px;
  margin: 0;
  margin-left: -0.27em;
  padding: 0;
  vertical-align: top;
  
}

.main-advice {
  height: 330px;
}



.fivacause-other {
  height: 255px;
  background-color: #eeeeee;
  
}
/* hotel.html */
form {
  
}
.mf-group {
  display: inline-block;
  vertical-align: top;
}
.mf-infrastructure
.mf-housingtype {
  float: left;
  
}
.mf-other {
  float: right;
}

.mf-inline-block {
  display: inline-block;
  vertical-align: top;
}

.mf-sorting {
  background-color: red;
}

.mf-sorting-list {
  display: inline-block;
  list-style: none; 
  vertical-align: top;
}

.mf-sorting-list li {
  display: inline-block;
  vertical-align: top;
}

.main-found-item{
    height: 150px;
}

.mf-item-image {
  float: left;
  width: 135px;
  height: 90px;
}

.mf-item-text {
  float: left;
}

.mf-item-rating {
    float: right;
}

/* ПОДВАЛ */
footer {
  height: 120px;
  background-color: purple;
}

.footer {
  display: inline-block;
  vertical-align: top;
}