
/*шрифты*/
 @font-face {
    font-family: PTsans; /* Гарнитура шрифта */
    src: local("PTsans"),
      url("../fonts/ptsans.woff") format("woff2"),
      url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
 }  
 
 @font-face {
    font-family: PTsans; /* Гарнитура шрифта */
    src: local("PTsans"),
      url("../fonts/ptsansbold.woff2") format("woff2"),
      url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
 }  
    
/*вспомогательные классы*/

/*чтобы картинки не уходили за границы*/
img {
    max-width: 100%;
    height: auto;
}

/*Класс для того, чтобы контейнер float разметки "видел" их */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.not-visible {
  display: none;
}
/*КОНЕЦ Вспомогательны классы*/

/*sprites*/
.sprite-small {
  display: block;
  margin: auto;
  background-image: url("../img/sprites-small.png");
  background-repeat: no-repeat;
    
}

.sprite-small-cheked-false {
    width: 22px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-small-cheked-true {
    width: 26px;
    height: 22px;
    background-position: -52px -10px;
}

.sprite-small-facebook {
    width: 10px;
    height: 19px;
    background-position: -98px -10px;
}

.sprite-small-range {
    width: 21px;
    height: 23px;
    background-position: -128px -10px;
}

.sprite-small-star {
    width: 18px;
    height: 17px;
    background-position: -169px -10px;
}

.sprite-small-twet {
    width: 17px;
    height: 15px;
    background-position: -207px -10px;
}

.sprite-small-youtube {
    width: 20px;
    height: 16px;
    background-position: -244px -10px;
}

/*sprites end*/

body {
    /*позиционирование*/
    /*блочная модель*/
    min-width: 768px;
    max-width: 1200px;
    margin: auto;
    /*типографика*/
    
    font-family: "PTsans", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    font-style: normal;
    
    /*оформление*/
    
    background-color: #ffffff;
    color: #000000;
    /*анимация*/
    /*разное*/
}
nav {
  position: relative;

  height: 26px;
  padding: 17px 73px;
  /*background-color: red;*/
}

nav a {
  display: inline-block;
  width: 128px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.logo-head {
  position: absolute;
  top: -70px;
  left: 550px;
  width: 125px;
  height: 125px;
  background-color: #81b3d2;
  border-radius: 10px;
  transform: rotate(45deg);
  
}

.logo-head-img {
  position: absolute;
  top: 58px;
  right: 5px;
  
  width: 67px;
  height: 56px;
  background: url("../img/logo-head.png");
  transform: rotate(-45deg);  
}

/*.head-menu {
  list-style: none;
  text-align: justify;
}

.head-menu li {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
}*/

.left-item-nav {
  float:left;
  /*background-color: yellow;*/
}

.left-item-nav a{
  margin-right: 112px;  
  text-align: left;
  
}

.right-item-nav {
  float:right;
  /*background-color: green;*/
}

.right-item-nav a{
  margin-left: 112px;  
  text-align: right;
}

.head-image {
  width: 1200px;
  height: 570px;  
  background: url("../img/intro.png");
  /*background-size: auto 95%;*/
  
}

.fivecause-h1 {
  display: inline-block;
  max-width: 1200px;
  padding: 0 312px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase; 
  text-align: center;
  vertical-align: top;
}

.fivecause-head {
  max-width: 1200px;
  margin-bottom: 53px;
  padding: 0 312px;  
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase; 
  text-align: center;
}

.fivecause-big {
  height: 256px;
  /*background-color: yellow;*/
}
.fivecause-text{  
  width: 280px;
  height: 146px;
  padding: 55px 60px;
  text-transform: uppercase; 
  text-align: center;
  color: #ffffff;  
  background-color: #81b3d2;    
}

.fivecause-text-h2 {  
  padding: 0 80px;
  font-weight: bold;
  
}

.fivecause-text-number {
  margin: 28px 0;
}

.fivecause-one .fivecause-text {
  float: left;
  
}

.fivecause-one .fivecause-img {
  float: right;
  width: 800px;
  height: 256px;
  background: url("../img/real-town.jpg");
}
  

.fivecause-two .fivecause-img {
  float: left; 
  width: 800px;
  height: 256px;
  background: url("../img/place-diablo.jpg");
  /*background-color: orange;*/
}

.fivecause-two .fivecause-text {
  float: right;  
}
/**/
.main-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-list li {
  display: inline-block;
  width: 400px;
  margin: 0;
  margin-left: -0.27em;
  padding: 0;
  vertical-align: top;
  
}

.main-advice {
  height: 270px;
  margin-top: 60px;  
  text-align: center;
}

.advice-h2 {
  text-transform: uppercase;
  line-height: 82px;
  font-weight: bold;
}

.advice-text {
  margin: 0 60px;
  text-transform: uppercase;
  /*background-color: purple;*/
}

.fo-h2 {
  padding: 0 160px;
  line-height: 21px;
  /*text-align: center;*/
}

.advice-number {
  margin: 30px 0;
}
/*img*/
.sprite-causes {
    display: block;
    margin: auto;
    /*margin-bottom: 30px;*/
    background-image: url("../img/sprites-causes.png");
    background-repeat: no-repeat;
    
}

.sprite-causes-food {
    width: 74px;
    height: 70px;
    background-position: -15px -15px;
}

.sprite-causes-home {
    width: 75px;
    height: 72px;
    background-position: -119px -15px;
}

.sprite-causes-souvenir {
    width: 64px;
    height: 76px;
    background-position: -224px -15px;
}
/*img end*/

.fivacause-other {
  height: 205px;
  padding-top: 50px;
  text-align: center;
  background-color: #eeeeee;
}

.fivacause-other li {

}
/* serch hotel*/
.main-traveldate {
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
}

.traveldate-h2{
  margin-top: 24px;
  font-size: 32px;
  line-height: 100px;
  font-weight: bold;
}

.traveldate-text {
  text-align: center;
}

.form-caption {
  width: 570px;
  height: 86px;
  margin: auto;
  margin-top: 55px;
  font-size: 21px;
  line-height: 86px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357; 
}

.traveldate-image-map {
  width: 100%;
  height: 593px;
  background: url("../img/map.jpg");
}

/* ПОДВАЛ */
footer {
  position: relative;
  top: -120px;
  /*z-index: 10;*/
  width: 100%;
  height: 120px;
  opacity: 0.9;
  background-color: #ffffff;
}

.footer {
  display: inline-block;  
  width: 400px;
  height: 120px;
  
  vertical-align: top;  
}
.footer:not(:first-child) {
  margin-left: -0.29em;
  
}

.footer-hashtag {
  margin: auto;
  font-size: 21px;
  line-height: 120px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
 /* background-color: orange;*/  
}

.footer-social {
  text-align: center;
  /*background-color: yellow;*/

  
}

.fc-social {

  display: inline-block;
  width: 46px;
  margin-top: 35px;
  margin-left: 6px;
  
  vertical-align: top;
  background-color: #81b3d2;
  
}

.fc-twiter{
  height: 32px;
  padding-top: 16px;
}

.fc-facebook{
  height: 34px;
  padding-top: 14px;
}

.fc-youtube{
  height: 32px;
  padding-top: 16px;  
}

.fc-social::last-child{
  margin-left: 0;
}

.footer-make {
  background: url("../img/copyright.png") no-repeat center center;
  /*background-color: lightgreen;*/
}



/*============================================*/
/* hotel.html */
form {
  
}
.mf-group {
  display: inline-block;
  vertical-align: top;
}
.mf-infrastructure
.mf-housingtype {
  float: left;
  
}
.mf-other {
  float: right;
}

.mf-inline-block {
  display: inline-block;
  vertical-align: top;
}

.mf-sorting {
  background-color: red;
}

.mf-sorting-list {
  display: inline-block;
  list-style: none; 
  vertical-align: top;
}

.mf-sorting-list li {
  display: inline-block;
  vertical-align: top;
}

.main-found-item{
    height: 150px;
}

.mf-item-image {
  float: left;
  width: 135px;
  height: 90px;
}

.mf-item-text {
  float: left;
}

.mf-item-rating {
    float: right;
}

